Repository beefchimi/earwurm, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧰 Dependency, 📚 Documentation, ⚖️ Legal, 🔖 Release, 🧪 Testing, 🛠️ Tooling

:art: [Format] All config folder files
  config/definitions/images.d.ts
  config/tests-setup.ts
Labels: 🛠️ Tooling

:art: [Format] All earwurm folder files
  pkg/earwurm/src/Earwurm.ts
  pkg/earwurm/src/Sound.ts
  pkg/earwurm/src/Stack.ts
  pkg/earwurm/src/tests/Abstract.test.ts
  pkg/earwurm/src/tests/Earwurm.test.ts
  pkg/earwurm/src/tests/Sound.test.ts
  pkg/earwurm/src/tests/Stack.test.ts
  pkg/earwurm/src/types.ts
Labels: 🧪 Testing

:art: [Format] All vite config files
  app/website/vite.config.ts
  pkg/earwurm/vite.config.ts
Labels: none

:art: [Format] All helpers folder files
  pkg/helpers/fetch-audio-buffer.ts
  pkg/helpers/tests/fetch-audio-buffer.test.ts
  pkg/helpers/tests/linear-ramp.test.ts
  pkg/helpers/tests/scratch-buffer.test.ts
  pkg/helpers/tests/unlock-audio-context.test.ts
Labels: 🧪 Testing

:art: [Format] All mock folder files
  pkg/mocks/MockAudioBufferSourceNode.ts
  pkg/mocks/MockAudioContext.ts
  pkg/mocks/MockAudioDestinationNode.ts
  pkg/mocks/MockAudioScheduledSourceNode.ts
  pkg/mocks/MockBaseAudioContext.ts
Labels: none

:hammer_and_wrench: [Eslint] Setup websites folder for antfu
  app/website/README.md
  app/website/eslint.config.mjs
  app/website/package.json
  app/website/tsconfig.app.json
  app/website/tsconfig.json
  app/website/tsconfig.node.json
Labels: none

:art: [Format] Websites components folder
  app/website/src/components/IconAction.vue
  app/website/src/components/IndexAction.vue
  app/website/src/components/LabelAction.vue
  app/website/src/components/StackLabel.vue
  app/website/src/components/TeardownAction.vue
  app/website/src/components/VolumeSound.vue
  app/website/src/components/index.ts
Labels: none

:art: [Format] Some various websites files
  app/website/src/App.vue
  app/website/src/main.ts
  app/website/src/views/HomeView.vue
Labels: none

:art: [Format] Some ts/js files within websites
  app/website/lightningcss-plugins.ts
  app/website/public/ga.js
Labels: 🛠️ Tooling

:art: [Format] Websites helpers folder
  app/website/src/helpers/app.ts
  app/website/src/helpers/vue.ts
Labels: none

:art: [Format] Websites primitives folder
  app/website/src/primitives/ProgressBar.vue
  app/website/src/primitives/SquareAction.vue
  app/website/src/primitives/index.ts
Labels: none

:art: [Format] Websites hooks folder
  app/website/src/hooks/useMediaQuery.ts
  app/website/src/hooks/useSupported.ts
Labels: none

:art: [Format] Websites store folder
  app/website/src/store/useDebugManager.ts
  app/website/src/store/useEarwurmStore.ts
  app/website/src/store/useSound.ts
  app/website/src/store/useStack.ts
Labels: none

:art: [Format] Websites sections folder
  app/website/src/sections/AppFooter.vue
  app/website/src/sections/AppHeader.vue
  app/website/src/sections/ManagerDebug.vue
  app/website/src/sections/StackControls.vue
Labels: none

:hammer_and_wrench: [Eslint] Tweaks for root config
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Labels: 🧰 Dependency, 🛠️ Tooling

:alembic: [Temp] Updates to the notes markdown
  TEMP.md
Labels: none

:toolbox: [Dependency] Regenerate lock file
  app/website/package.json
  pkg/earwurm/package.json
  pnpm-lock.yaml
Labels: 🧰 Dependency

:books: [Docs] Minor change to contributing.md
  docs/contributing.md
Labels: 📚 Documentation

:rewind: [Vite] Restore propsDestructure feature
  app/website/vite.config.ts
Labels: none

:hammer_and_wrench: [CI] Fix failed lint workflow due to no build
  app/website/package.json
  package.json
  pnpm-lock.yaml
Labels: 🧰 Dependency, 🛠️ Tooling

:fire: [Temp] Remove temporary notes file
  TEMP.md
Labels: none

:memo: [Report] Add changeset
  .changeset/small-seahorses-enjoy.md
Labels: none

:fire: [VsCode] No longer need to include experiment flatConfig flag
  .vscode/settings.json
Labels: 🛠️ Tooling

:fire: [Code] Resolve some instances of ts/return-await
  pkg/earwurm/src/tests/Stack.test.ts
  pkg/helpers/fetch-audio-buffer.ts
  pkg/helpers/tests/fetch-audio-buffer.test.ts
  pkg/mocks/MockBaseAudioContext.ts
Labels: 🧪 Testing

.github/labeler.yml:

🧰 Dependency:
  - changed-files:
      - any-glob-to-any-file: pnpm-lock.yaml

📚 Documentation:
  - changed-files:
      - any-glob-to-any-file: [README.md, 'docs/**']

⚖️ Legal:
  - changed-files:
      - any-glob-to-any-file: LICENSE

🔖 Release:
  - changed-files:
      - any-glob-to-any-file: CHANGELOG.md

🧪 Testing:
  - changed-files:
      - any-glob-to-any-file: '**/*.test.ts'

🛠️ Tooling:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - '.vscode/**'
          - .editorconfig
          - .eslintignore
          - .eslintrc
          - .eslintrc.cjs
          - .gitignore
          - .npmignore
          - .nvmrc
          - .prettierignore
          - .prettierrc
          - 'config/**'
          - package.json
          - tsconfig.json
          - 'tsconfig.*.json'
          - vite.config.ts
          - '**/*/env.d.ts'
          - '**/*/lightningcss-plugins.ts'
