Repository beefchimi/earwurm, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧰 Dependency, 📚 Documentation, ⚖️ Legal, 🔖 Release, 🧪 Testing, 🛠️ Tooling

.github/labeler.yml:

🧰 Dependency: package-lock.json
📚 Documentation:
  - README.md
  - docs/**
⚖️ Legal: LICENSE
🔖 Release: CHANGELOG.md
🧪 Testing: '**/*.test.ts'
🛠️ Tooling:
  - .github/**
  - .vscode/**
  - .editorconfig
  - .eslintignore
  - .eslintrc
  - .gitignore
  - .npmignore
  - .nvmrc
  - .prettierrc
  - config/**
  - package.json
  - tsconfig.json
  - vite.config.ts

:hammer_and_wrench: [Package] Add types to exports object to fix some build configs
  package-lock.json
  package.json
  tsconfig.json
Labels: 🧰 Dependency, 🛠️ Tooling

:memo: [Report] Add changeset
  .changeset/flat-phones-think.md
Labels: none

🛠️ [Package] Add types to exports object to fix some build configs (#48)
  .changeset/flat-phones-think.md
  package-lock.json
  package.json
  tsconfig.json
Labels: 🧰 Dependency, 🛠️ Tooling

:robot: [Actions] Update to use labeler@v5
  .github/workflows/labels.yml
Labels: 🛠️ Tooling

:robot: [Actions] Update to use setup-node@v4
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: 🛠️ Tooling

🤖 [Actions] Update `labeler` and `setup-node` (#51)
  .github/workflows/labels.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: 🛠️ Tooling
